@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.navi {
    margin-top: 10px;
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-around;
    margin-bottom: auto;
    position: relative;
    border-radius: 25px;
    text-align: center;
}
.home{
    color: #f8f8fa;
    background-color: white;
}

.box .but {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 10px;
    text-decoration: none;
    font-size: 1.4rem;
    border-radius: 25px;
    font-style: bold;
    font-family: 'Poppins', sans-serif;
}

.box .but:hover {
    background-color: #3399ff;
    color: white;
}

.box a {
    padding: 20px;
    text-decoration: none;
}

.content {
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-top: 20px;
    display: none;
    text-align: center;
}

.box:hover .content {
    display: block;
    background-color: rgb(0, 0, 0);
    width: 125px;
    border-radius: 25px;
    position: relative;
}

.content a {
    color: white;
    padding: 10px 5px;
    text-decoration: none;
    display: block;
    text-align: center;   
}

.content a:hover {
    background-color: #3399ff;
    border-radius: 25px;    
}