<body style="background-color: black; color:white;">

    <h1 style="text-align: center;padding: 20px;font-family: 'Silkscreen', cursive;"> About us</h1>
    <p style="font-size: 20px;text-align: center;padding: 18ex;font-family: 'Poppins', sans-serif;">
        <b><i>Techtronics is a Website for all electronics
                where we cover all your electronic needs....<br>simplified...structured.....
                classified and easy to use .<br>You have no idea what kinda product suits you🤔 ...? 
                Chill buddy we got
                you covered in that too😁... <br>
                With our simplified guides for each classification of products you can find your perfect match😍
                <h2 style="text-align: center;font-family: 'Poppins', sans-serif;padding: 0;">Happy shopping😎😉<h2>
    
