<app-header></app-header>
<app-menubar></app-menubar>
<body>
  <div class="container grid">

    <div class="type">
        <h4>
            Asus
        </h4>
        <img src="../../assets//Images/asus.jpg" alt="image">
    </div>

    <div class="type">
        <h4>
            Mac
        </h4>
        <img src="../../assets//Images/apple.png" alt="image">
    </div>

    <div class="type">
        <h4>
            hp
        </h4>
        <img src="../../assets//Images/hp.jpg" alt="image">
    </div>

    <div class="type">
        <h4>
            Dell
        </h4>
        <img src="../../assets//Images/dell.png" alt="image">
    </div>

    <div class="type">
        <h4>
            acer
        </h4>
        <img src="../../assets//Images/acer.png" alt="image">
    </div>

    <div class="type">
        <h4>
            RealMe
        </h4>
        <img src="../../assets//Images/realme.png" alt="image">
    </div>

</div>    
</body>
<app-footer></app-footer>