<app-header></app-header>
<app-menubar></app-menubar>
<body>
  <div class="container grid">

    <div class="type">
        <h4>
            Monitor
        </h4>
        <img src="../../assets//Images/th.jpg" alt="image" height="80">
    </div>

    <div class="type">
        <h4>
            Mouse
        </h4>
        <img src="../../assets//Images/Mouse.jpg" alt="image" height="80">
    </div>

    <div class="type">
        <h4>
            Keyboards
        </h4>
        <img src="../../assets//Images/Keyboard.jpg" alt="image" height="80">
    </div>

    <div class="type">
        <h4>
            Chagers
        
        </h4>
        <img src="../../assets//Images/Charger.jpg" alt="image">
    </div>

    <div class="type">
        <h4>
            Cables
        </h4>
        <img src="../../assets//Images/Cables.jpg" alt="image" height="80">
    </div>

    <div class="type">
        <h4>
            Cable organizers
        </h4>
        <img src="../../assets//Images/cable organiser.jpg" alt="image" height="80">
    </div>

    <div class="type">
        <h4>
            Phone Cases
        </h4>
        <img src="../../assets//Images/Phone case.jpg" alt="image" height="80">
    </div>

    <div class="type">
        <h4>
            Miscellaneous
        </h4>
        <img src="../../assets//Images/miscellaneous.jpg" alt="image" height="80">
    </div>
</div>
</body>
<app-footer></app-footer>