<app-header></app-header>
<app-menubar></app-menubar>
<!-- <div class="mobiles grid">
  <div class="smartphones">
      <h4>OnePlus Concept One</h4>
      <img src="/Images/images.jfif" alt="image">
      <p>
          <list>
          <ul>
          <li>OnePlus has officially unveiled its Concept One.</li>
          <li>It was teased earlier this month and hinted at a McLaren co-branded</li>
          <li> product with a disappearing camera</li>
      </ul>
      </list>
      
      <div class="but"><a href="Audio.html"><button>Buy now</button> </a></div>
      </p>
  </div>
 
  <div class="smartphones">
      <h4>Samsung Z Flip 4</h4>
      <img src="/Images/images (1).jfif" alt="image">
      <p>
          
              <ul>
          <li> The 17.03cm (6.7") display unfolds a beautiful view thanks to Ultra Thin Glass.</li>
          <li>Advanced durability makes it stronger than ever — staying</li>
          <li>through more than 200,000 folds.5,6</li>
          </ul>
        
          <div class="but"><button>Buy now</button></div>
          
      </p>
  </div>
  
  <div class="smartphones">
      <h4>Apple Iphone 14 pro max</h4>
      <img src="/Images/download (2).jfif" alt="image">
      <p>
          <list>
              <ul>
          <li>Super Retina XDR display</li>
          <li>15.40 cm / 6.1‑inch (diagonal) all‑screen OLED display</li>
          </ul></list>
          <div class="but"><button>Buy now</button></div>
      </p>
  </div>
  
  <div class="smartphones">
      <h4>Realme gt neo 2</h4>
      <img src="/Images/download (4).jfif" alt="image">
      <p>
          <list>
              <ul>
                  <li>AMOLED, 120Hz, HDR10+, 1300 nits (peak)</li>
                  <li>128GB 8GB RAM, 256GB 8GB RAM, 256GB 12GB RAM</li>
                  <li>6.62 inches, 105.8 cm2 (~85.7% screen-to-body ratio)</li>
                  <li>Qualcomm SM8250-AC Snapdragon 870 5G (7 nm)</li>
              </ul>
          </list>
          <div class="but"><button>Buy now</button></div>
      </p>
  </div>
 
  <div class="smartphones">
      <h4>Google Pixel 7 pro</h4>
      <img src="/Images/download (3).jfif" alt="image">
      <p>
         <list>
          <ul>
              <li>Google Tensor G2 (5 nm)</li>
              <li>LTPO AMOLED, 120Hz, HDR10+, 1000 nits (HBM), 1500 nits (peak)</li>
              <li>1440 x 3120 pixels, 19.5:9 ratio (~512 ppi density)</li>
              <li>Obsidian, Snow, Hazel</li>
          </ul>
         </list>
         <div class="but"><button>Buy now</button></div>
      </p>
  </div>
 
  <div class="smartphones">
      <h4>Mi 12 pro</h4>
      <img src="/Images/download (6).jfif" alt="image">
      <p>
          <list>
              <ul>
                  <li>Qualcomm SM8450 Snapdragon 8 Gen 1 (4 nm)</li>
                  <li>6.73 inches, 109.4 cm2 (~89.6% screen-to-body ratio)</li>
                  <li>128GB 8GB RAM, 256GB 8GB RAM, 256GB 12GB RAM</li>
                  <li>with stereo speakers (4 speakers)</li>
              </ul>
             </list>
             <div class="but"><button>Buy now</button></div>
      </p>
  </div>
 
  <div class="smartphones">
      <h4>Samsung Fold 4</h4>
      <img src="/Images/download (5).jfif" alt="image">
      <p>
          <list>
              <ul>
                  <li>7.6 inches, 183.2 cm2 (~90.9% screen-to-body ratio)</li>
                  <li>Qualcomm SM8475 Snapdragon 8+ Gen 1 (4 nm)</li>
                  <li>Dynamic AMOLED 2X, 120Hz, Corning Gorilla Glass Victus+</li>
                  <li>256GB 12GB RAM, 512GB 12GB RAM, 1TB 12GB RAM</li>
              </ul>
             </list>
             <div class="but"><button>Buy now</button></div>
      </p>
  </div>
  
  <div class="smartphones">
      <h4>Moto edge 30 Ultra</h4>
      <img src="/Images/download (7).jfif" alt="image">
      <p><list>
          <ul>
              <li>Qualcomm SM8475 Snapdragon 8+ Gen 1 (4 nm)</li>
              <li>Li-Po 4610 mAh, non-removable</li>
              <li>P-OLED, 1B colors, 144Hz, HDR10+, 1250 nits (peak)</li>
              <li>Fast charging 125W</li>
          </ul>
         </list>
         <div class="but"><button>Buy now</button></div>
      </p>
  </div>
  
  <div class="smartphones">
      <h4>Nothing phone one</h4>
      <img src="/Images/images (6).jfif" alt="image">
      <p>
          <list>
              <ul>
                  <li>6.55 inches, 103.6 cm2 (~85.8% screen-to-body ratio)</li>
                  <li>Qualcomm SM7325-AE Snapdragon 778G+ 5G (6 nm)</li>
                  <li>OLED, 1B colors, 120Hz, HDR10+, 500 nits (typ), 700 nits (peak)</li>
              </ul>
          </list>
             <div class="but"><button>Buy now</button></div>
      </p>
  </div>
  
</div> -->