<header> Audio </header>
<app-menubar></app-menubar>
<body>
  <div class="container grid">
        
    <a href="ANC.html">
        <div class="type">
            <h4>ANC</h4>
            <img src="../../assets//Images/ANC.jpeg" alt="image">
        </div>
    </a>
    
    <a href="OnEar.html">
    <div class="type">
        <h4>On Ear</h4>
            <img src="../../assets//Images/onear.jpeg" alt="image">
    </div>
    </a>

    <a href="In_ear.html">
    <div class="type">
        <h4>In Ear</h4>
            <img src="../../assets//Images/inear.jpeg" alt="image" height="80">
    </div>
    </a>
    
    <a href="TWS.html">
    <div class="type">
        <h4>TWS</h4>
            <img src="../../assets//Images/tws.jpeg" alt="image">
    </div>
    </a>

    <a href="OverEar.html">
    <div class="type">
        <h4>Over Ear</h4>
            <img src="../../assets//Images/over-ear.jpeg" alt="image" height="80">
    </div>
    </a>
    
    <a href="NeckBand.html">
    <div class="type">
        <h4>Neck bands</h4>
            <img src="../../assets//Images/neck-band.jpeg" alt="image">
    </div>
    </a>
    
    <a href="btSpeeker.html">
    <div class="type">
        <h4>BT Speaker</h4>
            <img src="../../assets//Images/bt-speaker-2.jpeg" alt="image">
    </div>
    </a>
    
    <a href="HomeTheater.html">
    <div class="type">
        <h4>Home theatre</h4>
            <img src="../../assets//Images/home-theatre.jpeg" alt="image">
    </div>
    </a>
    

</div>
</body>
<app-footer></app-footer>