<app-header></app-header>
<app-menubar></app-menubar>
<body>
  <div class="container grid">
        
    <a href="ANC.html">
        <div class="type">
            <h4>ANC</h4>
            <img src="../../assets/Images/ANC.jpeg" alt="image">
        </div>
    </a>
    
    <a href="OnEar.html">
    <div class="type">
        <h4>On Ear</h4>
            <img src="../../assets/Images/onear.jpeg" alt="image">
    </div>
    </a>

    <a href="In_ear.html">
    <div class="type">
        <h4>In Ear</h4>
            <img src="../../assets/Images/inear.jpeg" alt="image" height="80">
    </div>
    </a>
    
    <a href="TWS.html">
    <div class="type">
        <h4>TWS</h4>
            <img src="../../assets/Images/tws.jpeg" alt="image">
    </div>
    </a>

    <a href="OverEar.html">
    <div class="type">
        <h4>Over Ear</h4>
            <img src="../../assets/Images/over-ear.jpeg" alt="image" height="80">
    </div>
    </a>
    
    <a href="NeckBand.html">
    <div class="type">
        <h4>Neck bands</h4>
            <img src="../../assets/Images/neck-band.jpeg" alt="image">
    </div>
    </a>
    
    <a href="btSpeeker.html">
    <div class="type">
        <h4>BT Speaker</h4>
            <img src="../../assets/Images/bt-speaker-2.jpeg" alt="image">
    </div>
    </a>
    
    <a href="HomeTheater.html">
    <div class="type">
        <h4>Home theatre</h4>
            <img src="../../assets/Images/home-theatre.jpeg" alt="image">
    </div>
    </a>

</div>
    
<div class="audio grid">
        
    
    <div class="headphones">
            <h4>Sony mx4</h4>
            <img src="../../assets/Images/images (4).jfif" alt="image">
           
                <ul>
                   <li> With a huge 30 hours of battery life you'll have enough power even for long trips.</li>
                   <li>Smart listening technology to enhance your listening</li>
                   <li>HD Noise Cancelling Processor QN1 lets you listen without distractions</li>
                </ul>
              
               <div class="but"><a href="Audio"><button>Buy now</button> </a></div>
           
            
        </div>
    
    
        <div class="headphones">
            <h4>Sony WF-1000XM3</h4>
            <img src="../../assets/Images/ANC.jpeg" alt="image">
           
                <ul>
                   <li> 8 hours of power on a full charge, with a further three charges from the charging case, for up to 32 hours of play time.</li>
                    <li>Digital Noise Cancelling with HD Noise Cancelling Processor QN1e and Dual Noise Sensor Technology</li>
                </ul>
               
               <div class="but"><a href="About"><button>Buy now</button> </a></div>
            
           
        </div>
    
       
        <div class="headphones">
            <h4>Jbl</h4>
            <img src="../../assets/Images/neck-band.jpeg" alt="image">
           
                <ul>
                   <li>Wireless audio with BLUETOOTH® and NFC</li>
                   <li>All day listening with up to 20 hours of battery life</li>
                   <li>Smartphone compatible with hands-free calling</li>
                </ul>
              
               <div class="but"><a href="About"><button>Buy now</button> </a></div>
            
    
        </div>

        <div class="headphones">
            <h4>boat</h4>
            <img src="../../assets/Images/TWS1.jpeg" alt="image">
            <span>
                <ul>
                   <li> Matt-finish earbud housing and round cable design</li>
                   <li>Up to 15 hours of battery life</li>
                   <li>Wireless audio with BLUETOOTH® technology</li>
                </ul>
             </span>
               <div class="but"><a href="About"><button>Buy now</button> </a></div>
           
        
        </div>

        <div class="headphones">
            <h4>Airpods pro gen 3</h4>
            <img src="../../assets/Images/tws.jpeg" alt="image">
           
                <ul>
                   <li>Sweat and water resistant (IPX4)|Easy setup for all your Apple devices</li>
                   <li>Amazing sound quality with Adaptive EQ|Contoured design|Force sensor control</li>
                   
                </ul>
             
               <div class="but"><a href="About"><button>Buy now</button> </a></div>
           
            
        </div>

        <div class="headphones">
            <h4>Jbl bt 001</h4>
            <img src="../../assets/Images/bt-speaker-2.jpeg" alt="image">
                <ul>
                   <li>Portable size that you can take anywhere</li>
                   <li>Wider sound with Line-Shape Diffuser</li>
                   <li>24 hours of battery life and quick charging</li>
                </ul>
              
               <div class="but"><a href="About"><button>Buy now</button> </a></div>
            
            
        </div>

    </div>
</body>
<app-footer></app-footer>