<app-header></app-header>
<app-menubar></app-menubar>
<body>
    <div>
    <h2>Store exclusives:</h2></div>
    <div class="media">

   
   <div class="med">
    <h4>OnePlus Concept One</h4>
    <img src="../../assets/Images/images.jfif" alt="image">
    
        <ul>
        <li>OnePlus has officially unveiled its Concept One.</li>
        <li>It was teased earlier this month and hinted at a McLaren co-branded</li>
        <li> product with a disappearing camera</li>
    </ul>
   
</div>
<div class="med">
    <h4>Samsung Z Flip 4</h4>
    <img src="../../assets/Images/images (1).jfif" alt="image">
    <p>

            <ul>
        <li> The 17.03cm (6.7") display unfolds a beautiful view thanks to Ultra Thin Glass.</li>
        <li>Advanced durability makes it stronger than ever — staying</li>
        <li>through more than 200,000 folds.5,6</li>
        </ul>
       
</div>
<div class="med">
    <h4>Realme gt neo 2</h4>
    <img src="../../assets/Images/download (4).jfif" alt="image">
    
        
            <ul>
                <li>AMOLED, 120Hz, HDR10+, 1300 nits (peak)</li>
                <li>128GB 8GB RAM, 256GB 8GB RAM, 256GB 12GB RAM</li>
                <li>6.62 inches, 105.8 cm2 (~85.7% screen-to-body ratio)</li>
                <li>Qualcomm SM8250-AC Snapdragon 870 5G (7 nm)</li>
            </ul>
        
       

</div>

<div class="med">
    <h4>Sony mx4</h4>
    <img src="../../assets/Images/images (4).jfif" alt="image">
    <p>
       
        <ul>
           <li> With a huge 30 hours of battery life you'll have enough power even for long trips.</li>
           <li>Smart listening technology to enhance your listening</li>
          
        </ul>
      
</div>


<div class="med">
    <h4>Sony WF-1000XM3</h4>
    <img src="../../assets/Images/ANC.jpeg" alt="image">
    
        <ul>
           <li> 8 hours of power on a full charge, with a further three charges from the charging case, for up to 32 hours of play time.</li>
          
        </ul>
      
</div>


<div class="med">
    <h4>Jbl</h4>
    <img src="../../assets/Images/neck-band.jpeg" alt="image">
    
        <ul>
           <li>Wireless audio with BLUETOOTH® and NFC</li>
           <li>All day listening with up to 20 hours of battery life</li>
           <li>Smartphone compatible with hands-free calling</li>
        </ul>
       
</div>
</div>
</body>
  
<app-footer></app-footer>